*
    {
        padding: 0px;
        margin: 0px;
        text-decoration: none;
    }

html
    {
        scroll-behavior: smooth;
    }

@keyframes loading {
    to {transform: rotate(360deg);}
}

    
.aceitar{
    text-decoration: underline;
}

body
    {
        background: #fafafa; 
    }

.imagenFundo
    {
        display: none;
    }

.imagemVoltarTopo
    {
        width: 50px;
        position: fixed;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        bottom: 30px;
        right: 40px;
        height: 50px;
        transition: 0.5s ease-in-out;
    }

.imagemVoltarTopo:hover
    {
        transition: 0.5s ease-in-out;
        background-color: #979797;
        border-radius: 40px;
    }
    /*VOLTAR AO TOPO*/

.politicas{
    text-decoration: none;
    font-size: 19px;
    color: rgb(219, 68, 80);
    font-family: 'Roboto', sans-serif;
}

.politicas:hover{
    text-decoration: underline;
}

.box-cookies.hide{
    display: none !important;;
    z-index: 1;
    margin-top: -3rem;
    margin-bottom: 5rem;
}

.msg-cookies{
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

.btn-cookies
{
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 80px;
}

.btn-cookies:hover
{
    text-decoration: underline;
}

h1{
    color: rgb(0, 0, 0);
    font-family: 'Noto Serif', serif;
    font-size: 37px;
    text-shadow: black 0.7px 0px 0px;
}

.navegacao4{
    display: flex;
    justify-content: center;
    background-color: white;
}

.nav{
    font-size: 17px;
    color: rgb(226, 44, 44);
    margin-left: 11px;
    margin-right: 11px;
}

.faixaEsports{
        background-color: rgb(231, 238, 241);
        width: 100%;
        height: 7rem;
        margin-top: 10rem;
        margin-bottom: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(207, 15, 15);
    }

.conteudos_ver_mais{
    display: none;
}

.conteudos_ver_mais2{
    display: none;
}

#sumir_botao.ativo #conteudo_ver_mais1{
    display: none;
}

#sumir_botao.ativo .conteudos_ver_mais{
    display: block;
}

#sumir_botao2.ativo2 #ver_mais_abaixo{
    display: none;
}

#sumir_botao2.ativo2 .conteudos_ver_mais2{
    display: block;
}

@media (min-width:200px)
{
.card_item{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_item img{
    border-radius: 10px;
}

.card_item > div{
    padding-right: 1rem;
    padding-left: 1rem;
}

.card_item h2{
    color: black;
    font-family: 'Lato', sans-serif;
    margin-top: 2rem;
    width: 270px;
}

.card_item p{
    width: 280px;
    font-family: 'Source Sans Pro', sans-serif;
}

.card_item a div{
    padding-left: 1rem;
    padding-right: 1rem;
}
    
.card_item a{
    margin-top: 2rem;
}

.card_item input{
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    transition: 0.2s;
}

.card_item input:hover{
    background-color: rgb(48, 46, 46);
    color: white;
    cursor: pointer;
}

#noticias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
    z-index: 0;
}
    
#games{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#noticias_escondidas2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
}

#noticias_escondidas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.conteudo_escondido1{
    display: none;
}

.conteudo_escondido4{
    display: none;
}

#section_escondida1.ativo .botao_ver_mais{
    display: none;
}

#section_escondida1{
    margin-bottom: -4rem;
    margin-top: 4rem;
}

#section_escondida1.ativo #conteudo_escondido1{
    display: block;
}

.botao_ver_mais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.estilo_botao{
    padding: 11px;
    border: 1px black solid;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.estilo_botao:hover{
    background-color: rgb(32, 31, 31);
    color: white;
}

.botao_ver_mais2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 7rem;
}

.estilo_botao2{
    padding: 12px;
    border: 1px black solid;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.estilo_botao2:hover{
    background-color: rgb(32, 31, 31);
    color: white;
}

.botoes_ver_mais_desktop{
    display: none;
}

.sumir_links{
    display: none;
}

@media  (min-width:600px) {

    .botoes_ver_mais_desktop{
        display: block;
    }

    .botoes_desktop{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1rem;
    }
    
    .botoes_desktop2{
        display: flex;
        display: none;
       margin-left: 20%;
       margin-top: 2rem;
    }
    
    .botoes_ver_mais_desktop{
        padding: 10px;
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .botoes_ver_mais_desktop:hover{
        background-color: rgb(32, 31, 31);
        color: white;
    }
    
    .botoes_ver_mais_desktop2{
        margin-left: 65%;
    }
}

.botao_ver_mais_desktop4{
    margin-left: 1rem;
    margin-top: 5rem;
}


#section_escondida2.ativo2 #acao_botao2{
    display: none;
}

#section_escondida2.ativo2 .conteudo_escondido4{
    display: block;
}

#section_escondida2{
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.cookie1{
        position: fixed;
        background: rgb(37, 35, 35);
        top: 30%;
        left: 30%;
        right: 30%;
        border-radius: 15px;
    }

.tudo10
    {
        display: block;
    }

.imagensConteudos
    {
        width: 100px;
        height: 100px;
        background: rgb(255, 254, 254);
    }

h2
    {
        padding-bottom: 1rem;
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0);
    }

.acaba{
    color: rgb(219, 68, 80)
}


.h2Navegacao
    {
        font-size: 19px;
        color: rgb(219, 68, 80);
    }

#botaoVoltar
    {
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        position: fixed;
    }
/****Fim das Estilizações Globais****/

header
    {
        display: flex;
        padding-top: 0.4rem;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(254, 255, 255);
        color: white;
        font-family: 'Noto Serif', serif;
        justify-content: center;
    }



    .ei{
        color: rgb(0, 0, 0); 
    }

.imagemLogo
    {
        width: 70px;
        height: 80px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }

.navegacao
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(254, 255, 255);
        padding-bottom: 0.4rem;
    }

.corNavegacao
    {
        color: rgb(230, 122, 131);
        text-decoration: none;
    }

.corNavegacao:hover
    {
        text-decoration:underline ;
    }

#traco{
    border-bottom: 1px solid black;
    box-shadow: rgb(167, 166, 166) 2px 2px 2px;
}

li
    {
        padding-left: 1rem;
        padding-right: 1rem;
        list-style:none;
    }

.imagemInstagram
    {
        width: 27px;
        height: 27px;
    }
    /* Fim do Header*/

.imagens
    {
        position: relative;
        width: 420px;
        height: 14rem;
        background: #FF6B6B;
        overflow: hidden;
        transform: translate(-50%,-50%);
        margin-left: 1rem;
        margin-top: 5rem;
        object-fit: cover;
        border-radius: 7px;
        display: flex;
        margin-right: 1rem;
    }

#afastar{
    margin-left: 10rem;
}

.imagens img
    {
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
    }

.imagens:hover img
    {
        transform: scale(1.2); 
    }


.flex
    {
        display: flex;
        justify-content: flex-start;
        margin: 8rem;  
        flex-wrap: wrap;
    }

.ConteudoDasSections
    {
        width: 20rem;
        margin-left: -5rem;
    }

.verMais
    {
        padding: 0.5rem;
        margin-left: 4rem;
        border-radius: 8px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: white;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 2rem;
    }

h3
    {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        color: rgb(0, 0, 0);
    }
    /*Fim das Noticias Normais*/

.h3{
    color: black;
}

.esports
    {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        margin-left: 10rem;
        margin-right: 10rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-radius: 20px;
        z-index: 0;
    }

.esports article
    {
        z-index:6;
    }

.imagensEsports
    {
        width: 16.5rem;
        height: 12rem;
        background: #FF6B6B;
        margin-top: 3.2rem;
        margin-bottom: 3rem;
        margin-left: 45%;
    }

.conteudoEsports
    {
        width: 25rem;
        padding-bottom: 8rem;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 25px;
    }

.segundoVerMais
    {
        background-color: rgb(255, 255, 255);
        margin-bottom: 5rem;
        margin-left: 8rem;
        margin-top: -4rem;
        color: black;
        border-radius: 0;
        padding: 11px;
        border-radius: 2px;
        border: 1px solid black;
    }

.segundoVerMais:hover{
    background-color: rgb(58, 56, 56);
    color: rgb(255, 255, 255);
}

.imagenFundo
    {
        margin-top: 10rem;
        margin-left: 5rem;
        width: 400px;
        height: 300px;
        display: block;
        position: absolute;
        opacity: 0.3;
        z-index: 3;  
    }
    /*FIM do Conteudo Esports*/

.maisConteudos
    {  
        color: rgb(0, 0, 0);
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

.informacoesFoto
    {
        display: flex;
        padding-left: 5rem;
        align-items: center;
        justify-content: center;
    }

#fotoVerMais
    {
        width: 20rem;
        height: 1rem;
        opacity: 0.2;
    }

.procurarMaisConteudos
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.mais
    {
        color: rgb(0, 0, 0);
        padding-left: 1rem;
        font-size: 19px;
        text-decoration: none;
        transition: 0.5s;
    }

.mais:hover
    {
        text-decoration: underline;
        font-size: 20px;
        transition: 0.5s;
        padding: 5px;
        background-color: #FF6B6B;
        color: white;
        margin-left: 1rem;
        border-radius: 4px;
        position: static;

    }

    /*Fim do "Ver Mais"*/

.rodaPe
    {
        display: flex;
        padding-top: 2rem;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(254, 255, 255);
        color: white;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 2rem;
        justify-content: center;
    }

.corDeFundo
    {
        background-color: rgb(254, 255, 255);
        display: flex;
        justify-content: space-between;
        padding-left: 4rem;
        padding-right: 8rem;
        padding-bottom: 3rem;
    }

#restricoes
    {
        color: rgb(219, 68, 80);
        display: flex;
        justify-content: center;
    }

#finalBranco
    {
        color: rgb(219, 68, 80);
        padding-bottom: 3rem;
    }

.avaliar
    {
        border: none;
        padding: 7px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        transition: 0.5s;
    }

.avaliar:hover
    {
        padding: 9px;
        transition: 0.5s;
        background: rgb(192, 183, 183);
        text-decoration: underline;
    }


    .traco-rodape{
        width: 100%;
        height: 1px;
        border-top: 1px solid black;
    }
    
}